*~
*.o
*.d
*.elf
*.hex
*.eep
*.mk
*.cppx
*.hx
*.hold
*.cppold
*.ar
*old
ACPwrCntl.ino-new
makefile
*.map
Release/*
/.project
/.cproject
/dissassm.asm
/symboltable.sym
/Release/.*
Release/.gitignore